<%- include("partials/header"); -%>

<h1><%= contentTitle %></h1>
<p><%= contentBody %></p>
<form action="/" method="GET">
    <button>Home</button>
</form>

<!-- footer -->
<%- include("partials/footer"); -%>
